# MongoDB
MONGO_URI=mongodb+srv://umairmayo607:Umair123@cluster0.93mzb.mongodb.net/

# Cloudinary
CLOUDINARY_CLOUD_NAME= dv0a2hndk
CLOUDINARY_API_KEY=761277547916831


CLOUDINARY_API_SECRET=AItWXPnd0NTRavn9UIaloA_l89k

# Secret for session
SESSION_SECRET=zfour-secret-key-very-secret

# Gemini AI
GEMINI_API_KEY=your_key_here

# CORS allowlist (comma separated)
# Dono allow kar dein: Vercel bhi aur Localhost bhi
ALLOWED_ORIGINS=https://galaxycollection.vercel.app,http://localhost:5173
PORT=3001
